Repository agorafoundation/agora, pull requests merged in 2023-10, with the labels that each got.

#398 Discussions popup ahmed sallam
  client/agora/public/css/topic.css
  client/agora/views/dashboard/partials/topic/discussion-modal.ejs
  client/agora/views/dashboard/partials/topic/discussion-popover.ejs
  client/agora/views/dashboard/partials/topic/topic-view.ejs
  server/routes/dashboardRoutes.js
Labels: Discussions, UI / Front end

#417 Create AI route (#404)
  server/controller/apis/aiController.js
  server/routes/apiAuthRoutes.js
  server/routes/apis/aiRoutes.js
Labels: API, AI

#418 Fix for create account link
  server/controller/authController.js
  server/routes/dashboardRoutes.js
Labels: bug, UI / Front end

#416 Fix for Postgres 15 & 16
  README.md
  server/db/createDatabase.sql
Labels: documentation, Database

#421 Fix settings json file
  .vscode/settings.json
Labels: Infrastructure

#443 fixes for #442 for both the user_id and the wrong table name for work…
  server/service/searchService.js
Labels: bug, API, Database

#446 added fix for session db save effecting session on first load
  .bsp/sbt.json
  server/agora.js
  server/controller/authController.js
  server/service/userService.js
  target/.history3
Labels: bug, UI / Front end

#448 Incomplete - 408 check results from openai with semantic scholar
  .env.example
  server/controller/apis/aiController.js
Labels: API, AI

#451 proof of concept for authUser api response
  server/agora.js
  server/controller/apis/workspaceController.js
  server/routes/apiAuthRoutes.js
Labels: enhancement, API

#454 altered swagger ui server url to https
  server/agoraApi.yaml
Labels: bug, API
