Repository agorafoundation/agora, pull requests merged in 2023-11, with the labels that each got.

#466 463 fix redo replace the new topic resource pop up
  client/agora/public/css/topic.css
  client/agora/public/js/topic-view.js
  client/agora/views/dashboard/partials/topic/topic-view.ejs
  server/controller/apis/resourceController.js
  server/controller/apis/topicController.js
  server/controller/apis/workspaceController.js
Labels: UI Design, UI / Front end

#469 Semantic Scholar validation
  server/controller/apis/aiController.js
Labels: API, AI

#490 Merge sharing and client
  client/agora/public/js/controllers/clientWorkspaceController.js
  client/agora/public/js/state/stateManager.js
  server/service/resourceService.js
Labels: Database, Infrastructure

#493 added logic to workspace and topic delete apis to ensure nothing is o…
  server/controller/apis/workspaceController.js
  server/service/topicService.js
Labels: API
